[build-system]
requires = ["setuptools>=64", "setuptools_scm>=8"]
build-backend = "setuptools.build_meta"

[tool.setuptools.package-data]
lema = ["LICENSE", "README.md", "*.jinja"]

[tool.setuptools_scm]
# default scm config.

[tool.setuptools]
# default setuptools config.


[project]
name = "lema"
dynamic = ["version"]
readme = "README.md"
requires-python = ">=3.8"
description = "Learning Machines - Modeling Platform"
authors = [{ name = "LeMa Team", email = "contact@openlema.com" }]
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
    "Development Status :: 3 - Alpha",
]

dependencies = [
    "fabric",
    "google-api-python-client",    # To enable GCP in Skypilot
    "numpy",
    "skypilot[gcp,lambda,runpod]",
    "sshfs",
    "torch",
    "transformers",
]

[project.urls]
Homepage = "https://github.com/openlema/lema"
Issues = "https://github.com/openlema/lema/issues"

[project.optional-dependencies]
dev = [
    "black",
    "isort",
    "mypy",
    "pre-commit",
    "pynvml",
    "pyright",
    "pytest",
    "ruff",
    "sphinx",               # for documentation
    "sphinx-rtd-theme",     # for documentation
    "torchfix",
]
train = [
    "accelerate",           # for quantization
    "bitsandbytes",         # for quantization
    "datasets",
    "deepspeed",
    "lm-eval",
    "omegaconf",
    "peft",
    "pydantic>=2",
    "pynvml",
    "safetensors",
    "sentencepiece",        # for phi-3
    "tensorboard",
    "torchdata>=0.8.0",
    "transformers>=4.43.1,<4.44.0",
    "trl>=0.9.0",
    "wandb",
]
cloud = [
    "google-api-core>=2.19.0",
    "google-auth>=2.30.0",
    "google-cloud-core>=2.4.1",
    "google-cloud-storage>=2.17.0",
]
all = ["lema[dev,train,cloud]"]

[project.scripts]
lema-evaluate = "lema.evaluate:main"
lema-infer = "lema.infer:main"
lema-launch = "lema.launch:main"
lema-train = "lema.train:main"

[tool.ruff]
line-length = 88
extend-include = ["*.ipynb"] # Include ipython notebooks

[tool.ruff.lint]
# pyflakes (F), pycodestyle (E, W), isort (I), pydocstyle (D), flake8-tidy-imports(TID)
select = ["F", "E", "W", "I", "D", "TID", "NPY"]
ignore = ["D100", "D101", "D104", "NPY002"]      # Temporary rules

[tool.ruff.lint.flake8-tidy-imports]
# Disallow all relative imports.
ban-relative-imports = "all"

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["D"] # Ignore docstring checks in tests

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.isort]
known-first-party = ["lema"]

[tool.pyright]
include = ["src/lema/**", "tests/**"]
exclude = ["src/lema/experimental/**"]
typeCheckingMode = "basic"
pythonVersion = "3.8"
pythonPlatform = "All"                 # Include linux, mac, windows

reportPrivateImportUsage = "none"

[tool.pytest.ini_options]
testpaths = ["tests"]
