name: fineweb-pt
# NOTE: Replace with your username.
user: your_username
num_nodes: 2

resources:
  cloud: polaris

# Upload working directory to /home/$USER/oumi_launcher/fineweb_pt.
working_dir: .

# `setup` will always be executed before `run`. It's strongly suggested to set any PBS
# directives in the `setup` section. Additional commands can also be run here after the
# PBS directives.
setup: |
  #PBS -l place=scatter
  #PBS -l walltime=00:30:00
  #PBS -l filesystems=home:eagle
  #PBS -A community_ai
  #PBS -o /eagle/community_ai/jobs/logs/
  #PBS -e /eagle/community_ai/jobs/logs/

run: |
  set -e
  # Various setup for running on Polaris.
  source ${PBS_O_WORKDIR}/scripts/polaris/polaris_init.sh

  echo "Starting training with ${OUMI_NUM_NODES} node(s)..."

  set -x
  mpiexec --verbose \
      --np $OUMI_NUM_NODES -ppn ${NRANKS} -d ${NDEPTH} --cpu-bind ${CPU_BIND} \
      ./scripts/polaris/jobs/fineweb_pt_worker.sh -m fsdp

  echo -e "Finished training on ${OUMI_NUM_NODES} node(s):\n$(cat $PBS_NODEFILE)"
  echo "Polaris job is all done!"
