model:
  # Note: update model_name or adapter_model with your checkpoint directories
  model_name: "mistralai/Mistral-7B-v0.1"
  adapter_model: "your-checkpoint-dir"
  trust_remote_code: True
  #TODO currently below are not passed in LM_HARNESS
  torch_dtype_str: "bfloat16"
  model_max_length: 2048
  chat_template: "zephyr"
  attn_implementation: "sdpa"

lm_harness_params:
  tasks:
    - "mmlu"
  num_fewshot: 5

generation:
  batch_size: 32

enable_wandb: True
