name: "Doctests"

on:
  pull_request:
    paths:
      - 'docs/**'
      - 'README.md'

jobs:
  static-checks:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        # Checkout using commit hash to make "no-commit-to-branch" test pass.
        ref: ${{ github.sha }}

    - name: Install uv
      uses: astral-sh/setup-uv@v2
      with:
        enable-cache: true
        cache-dependency-glob: "pyproject.toml"

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Dependencies
      run: |
        # Install in system python as we're in a sandbox env
        # Install in verbose mode to see what's going on
        uv pip install -e '.[ci_cpu]' --system

    - name: Cache pre-commit
      uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

    - name: Run pre-commit checks
      run: |
        pre-commit run --all-files --show-diff-on-failure

    # - name: Run doctests
    #   run: |
    #     make doctest
