name: "GPU Tests"

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'notebooks/**'
      - 'configs/**'
      - 'scripts/**'
      - 'README.md'

jobs:
  gpu-tests:
    runs-on: linux-gpu-runner

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        # Checkout using commit hash to make "no-commit-to-branch" test pass.
        ref: ${{ github.sha }}

    - name: Install uv
      uses: astral-sh/setup-uv@v2
      with:
        enable-cache: true
        cache-dependency-glob: "pyproject.toml"

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Dependencies
      run: |
        # Install in system python as we're in a sandbox env
        # Install in verbose mode to see what's going on
        uv pip install -e '.[ci_gpu]' hf_transfer --system

    - name: Download Test Data
      run: |
        ./tests/scripts/predownload_for_github_gpu_tests.sh

    - name: Run GPU tests
      run: |
        nvidia-smi

        cd ./tests/integration/
        pytest -s -m "not e2e and not e2e_eternal and not multi_gpu" --durations=50 --timeout=300
